page-login {
    .login-content {
        background: #003366;

    }
   .logo-row {
    margin-top: 50px !important;
    }

    


   .login-box {
    
        padding: 10px 10px 0px 10px;
        margin-top: 40px !important;
    }


    .footerLbl {
        
            color:white;
        }
   
}

