page-home {
    
    .card-background-page {
    
      ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        background:rgba(97,97,97 ,.7);
        
        top: 44%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        background:rgba(97,97,97 ,.7);
        position: absolute;
        top: 66%;
        width: 100%;
        color: #fff;
      }
      
      .card-button {
        position: absolute;
        width: 100%;
        top: 75%;
       

      }

    }
    
    }
    